/* Plugin Dark Mode */
.theme__toggle {
    background-color: #e74c3c;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    position: fixed;
    z-index: 100;
    left: 95%;
    top: 20px;
}

/* Police Importé */
.exo-2-normal {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Exo 2", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #242f40 transparent;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
img{
    user-select: none;
}
button{
    cursor: pointer;
}
/* Plugin Dark Mode */
.theme__toggle button{
    background-color: #e74c3c;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    position: fixed;
    z-index: 10;
    left: 95%;
    top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.theme__toggle:hover{
    transform: scale(1.1);
    transition: 0.3s ;
  }
  .theme__toggle:not(:hover){
    transition: 0.3s;
  }

  .theme__dark .theme__toggle > .light {
    display: inline;
}
.theme__dark .theme__toggle > .dark {
    display: none;
}
.theme__light .theme__toggle > .light {
    display: none;
}
.theme__light .theme__toggle > .dark {
    display: inline;
  }
  :root {
    --color-lightest:  #121c2b;
    --color-darkest: #ffffff;
    --color-text-dark: #121c2b;
    --color-text-light: #ffffff;
}

/* Mode sombre */
.theme__dark {
    background-color: var(--color-darkest);
    color: var(--color-text-dark);
}
.theme__dark .sousHeader p {
    background-color: #a0a0a085 !important; /* A darker background color for dark mode */
}
.theme__dark .langues p{
    background-color: #a0a0a085 !important; /* A darker background color for dark mode */
}
.theme__dark .centres p{
    background-color: #a0a0a085 !important; /* A darker background color for dark mode */
}
/* Ensure child elements are visible in dark mode */
.theme__dark .child1,
.theme__dark .child2,
.theme__dark .borderchild1,
.theme__dark .borderchild2 {
    background-color: #e74c3c; /* Maintain visibility */
    border-color: #e74c3c; /* Ensure border visibility */
    z-index: 0; /* Ensure they are above other elements */
}

/* Ensure infosContainer content is on top in dark mode */
.theme__dark .infosContainer {
    position: relative;
    z-index: 2; /* Place above child and borderchild elements */
}

/* Remove background color for borderchild1 and borderchild2 in dark mode */
.theme__dark .borderchild1,
.theme__dark .borderchild2 {
    background-color: transparent; /* Remove background color */
}

/* Mode clair */
.theme__light {
    background-color: var(--color-lightest);
    color: var(--color-text-light);
}

/* Light mode specific styles for <p><b> elements */
.theme__light .sousHeader p {
    background-color: #a0a0a085 !important; /* A darker background color for light mode */
}
.theme__light .langues p{
    background-color: #a0a0a085 !important; /* A darker background color for light mode */
}
.theme__light .centres p{
    background-color: #a0a0a085 !important; /* A darker background color for light mode */
}

header {
    justify-content: center;
    display: flex;
    padding: 20px 0px;
    align-items: flex-start;
    gap: 30px;
    z-index: 3;
    position: relative;
    
}
header img {
    border-radius: 5px;
    max-width: 250px;
    z-index: 4;
    
}
/* Indication sur effet lightbox */
header .photoHolder{
    transition: all 0.3s ease;
}
header .photoHolder:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.zoomed {
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    max-width: 100%; /* Prevents stretching horizontally */
    max-height: 100%; /* Prevents stretching vertically */
    width: auto; /* Adjusts width dynamically */
    height: auto; /* Adjusts height dynamically */
    transform: scale(2); /* Zoom X2 */
    transition: transform 0.3s ease-in-out;
    width: 100%;
    z-index: 1000; /* Pour être au-dessus du reste */
    min-width: 250px;
    max-width: 300px;
    min-height: 300px;
    max-height: 500px;
    z-index: 5;
}
.photoHolderZoomed {
    background-color: rgba(0, 0, 0, 0.8); /* Assombrit l’arrière-plan */ 
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 250px 50px;
    top: 0;
    left: 0;
    z-index: 4;
}

main{
    z-index: 2;
    position: relative;
}
h2 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 2rem;
}
h3{
    margin: 10px 0;
    text-transform: uppercase; 
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}
h3 img{
    width: 32px;
    height: 32px;
}
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
.ml11 .text-wrapper {
position: relative;
display: inline-block;
padding-top: 0.1em;
padding-right: 0.05em;
padding-bottom: 0.15em;
}
.ml11 .line {
opacity: 0;
position: absolute;
left: 0;
height: 100%;
width: 3px;
background-color: #e74c3c;
transform-origin: 0 50%;
}

.ml11 .line1 { 
top: 0; 
left: 0;
}

.ml11 .letter {
display: inline-block;
line-height: 1em;
}
.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
.header h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: none;
    font-weight: 400;
    justify-self: center;
}
.header p {
    font-size: 1rem;
    margin-bottom: 20px;
}
.sousHeader {
    display: flex;
    gap: 20px;
}
.sousHeader p {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.9rem;
}


.coordonnees {
    text-align: center;
    background-color: #1E2B3A;
    padding: 20px 10px;
    color: white;
    position: relative;
    z-index: 2;
    font-family: 'Exo 2', sans-serif;
    border-radius: 10px;
    margin: 30px 20px;
}

.coordoneesContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px 0;
    align-items: center;
}

.coordoneesContainer a, .coordoneesContainer p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.coordoneesContainer img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.coordoneesContainer a:hover img {
    transform: scale(1.2);
}

.coordoneesContainer div a img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
}
.socials {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.infosContainer{
    margin: 100px 0px;
    display: flex;
    justify-content: space-evenly;
}
.infosContainer a{
    text-decoration: none;
    color: #e74c3c;
}
.infosContainer a:hover{
    transition: 0.2s;
    color: #f1948a;
}

/* Colonne de gauche */
.leftColumn{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 25%;
}
.formation div{
    margin-top: 20px;
}
.formation div p{
    text-justify:distribute-all-lines;
}
.travauxPersonnels div{
    margin-top: 20px;
}
.travauxPersonnels div div{
    display: flex;
    align-items: center;
}
.experiences div{
    margin-top: 20px;
}

/* Colonne de droite */
.rightColumn{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 25%;
}
.competences div{
    margin-top: 20px;
}
.competences meter {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
}
.competences meter::-webkit-meter-bar {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 10px;
}

.competences meter::-webkit-meter-optimum-value {
    background: #e74c3c; 
    border-radius: 10px;
}

/* For Firefox */
.competences meter::-moz-meter-bar {
    background: #e74c3c;
}
.langues div{
    display: flex;
    gap: 20px;
}
.langues p{
    background: #e74c3c;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.9rem;
    width: auto;
    text-align: center;
    text-transform: uppercase;
}
.centers div{
    width: 20px;
}
.centres div div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.centres div p{
    background-color: #e74c3c;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.9rem;
    width: auto;
    text-align: center;
    text-transform: uppercase;
}

/* Bouton d'impression */
.print-button {
    position: fixed;
    top: 90vh;
    right: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: #2D2D2D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.print-button:hover {
    background-color: #e74c3c;
    transform: scale(1.1);
}

.print-button img {
    filter: brightness(0) invert(1);
}
@media print {
    @page {
        size: A4;
        margin: 0;
    }
    html, body {
        background-color: #121c2b !important;
        color: white !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    header {
        display: flex;
        padding: 20px 0px;
        flex-direction: row !important;
        justify-content: center;
        align-items: flex-start !important;
    }
    header img {
        border-radius: 5px;
        width: 300px !important;
    }
    .header h1{
        text-align: left;
        font-size: 2.1rem;;
    }
    .header h3{
        text-align: left;
        font-size: 1rem;
    }
    .sousHeader{
        flex-direction: row !important;
        font-size: 0.6rem;
    }
    .coordonnees,
    .leftColumn,
    .rightColumn,
    .sousHeader p,
    .langues p,
    .centres p {
        color: white !important;
    }
    .coordoneesContainer{
        flex-direction: row !important;
        gap: 40px !important;
        justify-content: center !important;
    }
    .infosContainer {
        flex-direction: row !important;
        align-items: flex-start !important;
        margin: 40px 0px !important;
        text-align: center !important;
    }
    .leftColumn, .rightColumn{
        flex-direction: column !important;
        gap: 50px !important;
        width: 30% !important;
    }
    .formation p{
        text-align: center !important;
    }
    .travauxPersonnels img{
        display: none;
    }
    .langues p{
        font-size: 0.75em !important;
        padding: 10px !important;
    }
    .print-button {
        display: none !important;
    }
    .competences{
        text-align: center !important;
    }
    .competences meter{
        justify-self: center;
        display: flex;
    }
   .experiences h2{
        text-align: center !important;
    }
    .centres div div{
        justify-content:flex-start !important;
    }
    .centres div div p{
        padding: 10px !important;
        font-size: 0.75em !important;
    }
    .sidebar {
        padding: 15px;
        width: 32%;
        background-color: #2D2D2D !important;
    }
    .theme__toggle {
        display: none !important;
    }
    .theme__toggle img{
        display: none !important;
    }
    .child1, .child2, .borderchild1, .borderchild2{
        visibility: hidden !important;
    }
}
/* Plugin trouvé sur Stack overflow :  https://stackoverflow.com/questions/56917493/how-to-keep-the-inner-square-in-a-infinite-rotation */
.child1 {
    display: inline;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 100px; /* Ajout de l'unité */
    left: -50px;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    animation: rotating 35s linear infinite;
    z-index: 1; /* Pour s'assurer qu'il est bien visible */
}
.borderchild1 {
    display: inline;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 145px; /* Ajout de l'unité */
    left: 20px;
    bottom: 20px;
    border: 1px solid #e74c3c;
    animation: rotating 35s linear infinite;
    z-index: 0; /* Pour s'assurer qu'il est bien visible */
}
.child2 {
    display: inline;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 560px; /* Ajout de l'unité */
    left: 90vw;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    animation: rotating 35s linear infinite;
    z-index: 1; /* Pour s'assurer qu'il est bien visible */
}
.borderchild2 {
    display: inline;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 530px; /* Ajout de l'unité */
    left: 87vw;
    bottom: 20px;
    border: 1px solid #e74c3c;
    animation: rotating 35s linear infinite;
    z-index: 0; /* Pour s'assurer qu'il est bien visible */
}
@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* Responsive Design */
@media ( width < 1100px) {
    .theme__toggle{
        left: 90%;
    }
    .child1 {
        top: 200px; /* Ajout de l'unité */
        left: -100px;
    }
    .borderchild1 {
        top: 160px; /* Ajout de l'unité */
        left: -120px;
    }
    .borderchild2 {
        top: 520px; /* Ajout de l'unité */
        left: 89vw;
    }
    .child2 {
        top: 560px; /* Ajout de l'unité */
        left: 88vw;
    }
}
@media (width < 930px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    header img {
        max-width: 150px;
    }
    main{
        text-align: center;
    }
    .sousHeader {
        flex-direction: column;
        gap: 10px;
    }

    .coordoneesContainer {
        flex-direction: column;
        gap: 20px;
    }

    .infosContainer {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .leftColumn, .rightColumn {
        width: 90%;
    }

    .formation div h3 {
        text-align: center;
        justify-self: center;
    }
    .travauxPersonnels div h3,  .travauxPersonnels div div {
        text-align: center;
        justify-self: center;
    }
    .travauxPersonnels div div button {
        display: none;
    }
    .experiences div h3 {
        text-align: center;
        justify-self: center;
    }
    .competences div h3 {
        text-align: center;
        justify-self: center;
    }
    .competences meter {
        width: 70%;
    }
    .langues div {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .centres div {
        flex-direction: row;
        justify-content: center;
    }
    .centres div div{
        justify-content:center;
    }
    .child1 {
        z-index: -10000;
    }
    .borderchild1 {
        z-index: -10001;
    }
    .child2 {
        z-index: -10000;
    }
    .borderchild2 {
        z-index: -10001;
    }
}

@media (height < 700px) {
    .photoHolderZoomed img{
       padding-bottom: 90px;
        transform: scale(1.9); 
        border-radius: 10px;
    }
    
}
@media (height < 550px) {
    .photoHolderZoomed img{
       padding-bottom: 90px;
        transform: scale(1.5);
        border-radius: 10px;
    }
}

@media (width < 480px) {
    .photoHolderZoomed img{
        transform: scale(1.3); /* Zoom X1.5 */
        padding-top: 40px;
        border-radius: 10px;
    }
    .header h1 {
        margin-top: 50px;
        font-size: 30px;
    }

    .header p {
        font-size: 14px;
    }

    .coordonnees {
        font-size: 14px;
    }

    .competences h3 img {
        width: 24px;
        height: 24px;
    }

    .competences meter {
        height: 8px;
    }

    .langues p, .centres p {
        font-size: 12px;
        padding: 8px 15px;
    }
    .theme__toggle{
        left: 85%;
    }

    
    .child1 {
        top: 120px; /* Ajout de l'unité */
        left: -150px;
        z-index: -10000;
    }
    .borderchild1 {
        top: 160px; /* Ajout de l'unité */
        left: -120px;
        z-index: -10001;
    }
    .child2 {
        z-index: -10000;
    }
    .borderchild2 {
        z-index: -10001;
    }
}